In [1]:
import sys

In [2]:
string = "This is from a notebook"

## Hashtaguerino hacker

In [1]:
print("Esto se va a ver bien?")

Esto se va a ver bien?

In [2]:
import pandas as pd

In [4]:
a = pd.read_csv(r"data\family_tree\arbol_granaino.csv")

In [5]:
a.head()

,NOMBRE,PADRE,MADRE,AÑO DE NACIMIENTO,RAMA,AÑO CON DATOS DE SU VIDA,DATOS EXTRA
0,PEDRO DE MOCTEZUMA,MOCTEZUMA,SEÑORA DE MOCTEZUMA,NaN,0.0,NaN,NaN
1,ISABEL DE MOCTEZUMA,PEDRO DE MOCTEZUMA,TEIXTALCO,1510.0,0.0,NaN,NaN
2,JUAN DE ANDRADE MOCTEZUMA,Pedro Gallego de Andrade,ISABEL DE MOCTEZUMA,NaN,0.0,NaN,NaN
3,JUAN CANO DE MOCTEZUMA,Juan Cano de Saavedra,ISABEL DE MOCTEZUMA,NaN,0.0,NaN,NaN
4,DIEGO LUIS DE MOCTEZUMA,PEDRO DE MOCTEZUMA,CATALINA QUANJOHTCHIL,NaN,0.0,NaN,1567 PASO A ESPAÑA Y GRANADA

In [6]:
sys.path.append("repos")

In [7]:
from family_members import member